
 body{
  display: flex;
  flex-direction: column;
 }
 nav{
  display: flex;
  justify-content: right;
 }
 nav h3{
  margin: 20px;  
 }
.profile-picture{
  border-radius: 25%;
  max-width: 300px;
  max-height: auto;
}
.section-1{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 20px;
  border: solid 2px black;

}
.title{
  margin: 20px;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  border: solid 1px black;
  
}
.content{
  margin: 20px;
  flex: 1;
}

.project{
  display: flex;
  flex-grow: 1;
  border: solid 2px black;
  margin:20px;
}

.project > .apps-a, .apps-b {
  flex-wrap: wrap;
  width: 75%;
}
.title-p{
  margin: 20px;
  width: 33%;
  border: solid 1px black;
}

.apps-a{
  display: flex;
}
.apps-b{
  display: flex;

}
.app {
    border-style: solid;
    border-width: 1px;
    flex-wrap: wrap; 
    padding: 10px;
    flex: 4;
    margin: 20px;
    justify-content: space-evenly;
  }

  .contact-me{
    border: solid 2px black;
    margin:20px;
  
  }
.title-c{
  margin: 20px;
  width: 25%;
  align-items: center;
  border: solid 1px black;

}
  .content-c, .content-c p{
    display:flex;
    justify-content: right;
    margin:20px;
  }

